
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

img {
    border-radius: 5px;
    border: 3px solid #3882F6;
    
}

.header {
    display: flex;  
    padding: 0px 125px 0px 125px;
    background-color: #1F2937;
    color: white;
    height: 50px;
    align-items: center;
    
}

.headLinks {
    display: flex;
    margin-left: auto;
    gap: 12px;
    color: lightgrey;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    color:white;
    margin: 0px;
}

.b1 {
    display: flex;
    padding: 0px 125px 0px 125px;
    background-color: #1F2937;
    min-height: 250px;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding-top: 50PX;
    padding-bottom: 50px;

    
}

.b1Text {
    width: 500px;
    color: white;
    padding: 0px;
    margin: 0px;
}

p {
    margin:0px;
    color: grey;
    font-size: 13px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    font-weight: 600;
    padding: 4px 20px 4px 20px;
}

h3 {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.b2 {
    display: flex;
    min-height: 250px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 50px;
}

.info {
    max-width: 200px;
    border: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3px;
}

.b3 {
    display: flex;
    padding: 100px;
    min-height: 250px;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 800px;
    font-size: 36px;
    font-weight: lighter;
}

.quoteSig {
    display: flex;
    align-self: flex-end;
    margin-right: 300px;
    font-size: 20px;
    font-weight: 600;
}

.b4 {
    display: flex;
    min-height: 220px;
    justify-content: center;
    align-items: center;
}

.calltoA {
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
    WIDTH: 740px;
    color: white;
    font-weight: bold;

}

#call {
    color: rgb(202, 202, 202);
    font-weight: 100;
}

#button2 {
    margin: 0px;
    border: white solid 1px;
    border-radius: 5px;
}